body{
    background-image:url('cloud.jpg');
    background-repeat: no-repeat;
    background-position: left-bottom;
    background-size: 110% 110%;
}
h1{
    width:1000;
    color:white;
    font-family:Lato;
    font-size:50px;
    text-align:center;
    text-shadow: 1px 2px grey;
}
h2{
    font-size:25px;
    color:white;
    text-align:center;
    margin-top:80px;
    font-family:Lato;
    text-shadow: 1px 2px grey;
}
table{
    font-family:Lato;
    border-collapse: collapse;
    width:60%;
    text-align:center;
    margin-top:80px;
}
th{
    font-size:20px;
    text-align:left;
    background-color: #6BBE30;
    padding:8px;
}
td{
    font-size:15px;
    text-align:left;
    padding:8px;
}
tr:nth-child(odd){
    background-color: #6BBE30;
}
tr:nth-child(even){
    background-color: #CAE8F2;
}
.container{
    text-align:center;
    padding-top:40px;
}
.footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: #6BBE30;
    color:white;
    text-align:center;
    border-top: 1px solid #e4e4e4;
}
